*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(176, 143, 230);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}